<div class="row center">
  <div class="col">
    <div class="container">

      <ng-container *ngIf="this.isRecording else startButton">
        <button class="btn btn-outline-primary" aria-label="Stop" (click)="stopRecording()">Stop</button>
      </ng-container>
      <ng-template #startButton>
        <button class="btn btn-outline-primary" aria-label="Start" (click)="startRecording()">Start</button>
      </ng-template>
    </div>
  </div>
</div>
<div class="row center">
  <video *ngIf="this.showVideo" #video width="640" height="480" autoplay></video>
</div>
